<div class="dashboard-container">
  <div class="overview-header">
    <h2>Welcome back, {{ _name }}</h2>
    <p>Here’s your progress</p>
  </div>
  <div class="balance-overview">
    <h4 class="balance-overview__title">Balance Overview</h4>
    <div class="row justify-content-center g-4 balance-overview__boxes">
      <div class="col-7 col-md-6 col-xl-3" *ngFor="let balance of balances">
        <div class="balance-overview__boxes__box">
          <div class="row">
            <div class="col-12 col-md-3">
              <i
                class="fab fa-btc lg"
                *ngIf="balance.currency == 'BTC' || balance.currency == 'RVN'"
              ></i>
              <i
                class="fab fa-ethereum lg"
                *ngIf="balance.currency == 'ETH' || balance.currency == 'STX'"
              ></i>
            </div>
            <div class="col-12 col-md-9">
              <span
                style="
                  font-weight: bold;
                  margin-bottom: 1px;
                  color: rgba(183, 180, 199, 1);
                "
              >
                {{ balance.currency }} Balance
              </span>
              <span style="font-weight: bold; color: #fff; display: block">
                {{ balance.currencyBalance }} {{ balance.currency }}
              </span>
            </div>
          </div>
          <p
            style="margin: 1rem 0rem"
            *ngIf="balance.plans == 0 && balance.devices == 0"
          >
            <br />
          </p>
          <p style="margin: 1rem 0rem">
            <span
              style="color: rgba(255, 73, 128, 1); font-weight: bold"
              *ngIf="balance.plans > 0"
            >
              {{ balance.plans }} active plans
            </span>
            <span
              style="color: #fff; vertical-align: bottom"
              *ngIf="balance.plans > 0 && balance.devices > 0"
            >
              •
            </span>
            <span
              style="color: rgba(255, 73, 128, 1); font-weight: bold"
              *ngIf="balance.devices > 0"
            >
              {{ balance.devices }} Device</span
            >
          </p>
          <span style="color: rgba(183, 180, 199, 1); display: block"
            >Current Price</span
          >
          <span
            style="
              font-weight: bold;
              color: #fff;
              display: block;
              margin-bottom: 0.8rem;
            "
            >$ {{ balance.price }}</span
          >
          <button
            class="btn btn--dark btn--animated w-100"
            *ngIf="balance.currencyBalance > 0"
          >
            Withdraw
          </button>
          <button
            class="btn btn--light btn--animated w-100 mt-2"
            *ngIf="!(balance.currencyBalance > 0)"
          >
            Buy Mining plan
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-4">
    <div class="mining-deatils col-12 col-lg-8">
      <div class="mining-deatils__mined mb-5">
        <div class="custom-taps">
          <div class="custom-taps__heading tex-center row align-items-center">
            <h4
              class="custom-taps__heading__title col-12 col-lg-5 text-sm-start mb-3"
            >
              Currency Mining Details
            </h4>
            <div
              class="custom-taps__heading__taps d-flex justify-content-end col-12 col-lg-7"
            >
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedTap1()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedTapOpend == 'tap1'
                }"
              >
                <i class="fab fa-btc sm"></i> BTC
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedTap2()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedTapOpend == 'tap2'
                }"
              >
                <i class="fab fa-ethereum sm"></i> ETH
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedTap3()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedTapOpend == 'tap3'
                }"
              >
                <i class="fab fa-btc sm"></i> RVN
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedTap4()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedTapOpend == 'tap4'
                }"
              >
                <i class="fab fa-ethereum sm"></i> STX
              </div>
            </div>
          </div>

          <div class="custom-taps__body" *ngIf="minedTapOpend == 'tap1'">
            <div class="row gy-4 summery">
              <div class="summery__item col-12 col-lg-4">
                <div class="summery__item__title">
                  <i class="fas fa-rocket"></i>
                  <span>Mining speed </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ _miningSpeed }} H/s</span>
                  <i class="fas fa-plus"></i>
                </div>
              </div>
              <div class="summery__item col-12 col-lg-4">
                <div class="summery__item__title">
                  <i class="fas fa-hammer"></i>
                  <span>Today Mined </span>
                </div>
                <div class="summery__item__value">
                  <h4>{{ balances[0].mined }} BTC</h4>
                </div>
              </div>
              <div class="summery__item col-12 col-lg-4">
                <div class="summery__item__title">
                  <i class="fas fa-poo-storm"></i>
                  <span>Running plans </span>
                </div>
                <div class="summery__item__value">
                  <h4>{{ _activePlans }} active plans</h4>
                </div>
              </div>
            </div>
            <div class="balance">
              <div class="balance__total">
                <i class="fab fa-btc lg"></i>
                <span>{{ _balance_btc }} BTC</span>
              </div>
              <div class="balance__min">
                <span>Min Withdraw: {{ balances[0].minWithdraw }} BTC</span>
              </div>
            </div>
            <button class="btn btn--animated btn--darker">
              <i class="fab fa-btc sm"></i> <span> Withdraw BTC </span>
            </button>
          </div>
          <div class="custom-taps__body" *ngIf="minedTapOpend == 'tap2'">
            <div class="row gy-4 summery">
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-rocket"></i>
                  <span>Mining speed </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ _miningSpeed }} H/s</span>
                  <i class="fas fa-plus"></i>
                </div>
              </div>
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-hammer"></i>
                  <span>Today Mined </span>
                </div>
                <div class="summery__item__value">
                  <h4>{{ balances[1].mined }} ETH</h4>
                </div>
              </div>
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-poo-storm"></i>
                  <span>Running plans </span>
                </div>
                <div class="summery__item__value">
                  <h4>{{ _activePlans }} active plans</h4>
                </div>
              </div>
            </div>
            <div class="balance">
              <div class="balance__total">
                <i class="fab fa-ethereum lg"></i>
                <span>{{ _balance_eth }} ETH</span>
              </div>
              <div class="balance__min">
                <span>Min Withdraw: {{ balances[1].minWithdraw }} ETH</span>
              </div>
            </div>
            <button class="btn btn--animated btn--darker">
              <i class="fab fa-ethereum sm"></i> <span> Withdraw ETH </span>
            </button>
          </div>
          <div class="custom-taps__body" *ngIf="minedTapOpend == 'tap3'">
            <div class="row gy-4 summery">
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-rocket"></i>
                  <span>Mining speed </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ _miningSpeed }} H/s</span>
                  <i class="fas fa-plus"></i>
                </div>
              </div>
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-hammer"></i>
                  <span>Today Mined </span>
                </div>
                <div class="summery__item__value">
                  <h4>{{ balances[2].mined }} RVN</h4>
                </div>
              </div>
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-poo-storm"></i>
                  <span>Running plans </span>
                </div>
                <div class="summery__item__value">
                  <h4>{{ _activePlans }} active plans</h4>
                </div>
              </div>
            </div>
            <div class="balance">
              <div class="balance__total">
                <i class="fab fa-btc lg"></i>
                <span>{{ _balance_rvn }} RVN</span>
              </div>
              <div class="balance__min">
                <span>Min Withdraw: {{ balances[2].minWithdraw }} RVN</span>
              </div>
            </div>
            <button class="btn btn--animated btn--darker">
              <i class="fab fa-btc sm"></i> <span> Withdraw RVN </span>
            </button>
          </div>
          <div class="custom-taps__body" *ngIf="minedTapOpend == 'tap4'">
            <div class="row gy-4 summery">
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-rocket"></i>
                  <span>Mining speed </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ _miningSpeed }} H/s</span>
                  <i class="fas fa-plus"></i>
                </div>
              </div>
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-hammer"></i>
                  <span>Today Mined </span>
                </div>
                <div class="summery__item__value">
                  <h4>{{ balances[3].mined }} STX</h4>
                </div>
              </div>
              <div class="summery__item col-12 col-lg-4">
                <div class="summery__item__title">
                  <i class="fas fa-poo-storm"></i>
                  <span>Running plans </span>
                </div>
                <div class="summery__item__value">
                  <h4>{{ _activePlans }} active plans</h4>
                </div>
              </div>
            </div>
            <div class="balance">
              <div class="balance__total">
                <i class="fab fa-ethereum lg"></i>
                <span>{{ _balance_stx }} STX</span>
              </div>
              <div class="balance__min">
                <span>Min Withdraw: {{ balances[3].minWithdraw }} STX</span>
              </div>
            </div>
            <button class="btn btn--animated btn--darker">
              <i class="fab fa-ethereum sm"></i> <span> Withdraw STX </span>
            </button>
          </div>
        </div>
      </div>
      <div class="mining-details__chart">
        <div class="custom-taps custom-taps--chart">
          <div class="custom-taps__heading tex-center row align-items-center">
            <h4
              class="custom-taps__heading__title col-12 col-lg-5 text-sm-start mb-sm-3 mb-md-0"
            >
              Currency Mining Details
            </h4>
            <div
              class="custom-taps__heading__taps d-flex justify-content-xs-center justify-content-md-end justify-content-lg-end flex-xs-wrap flex-ms-wrap col-12 col-lg-7"
              style="box-sizing: border-box !important"
            >
              <div
                class="custom-taps__heading__taps__tap flex-xs-wrap flex-ms-wrap"
                style="box-sizing: border-box !important"
                (click)="minedChartTap1()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap1'
                }"
              >
                <i class="fab fa-btc sm"></i> BTC
              </div>
              <div
                class="custom-taps__heading__taps__tap flex-xs-wrap flex-ms-wrap"
                style="box-sizing: border-box !important"
                (click)="minedChartTap2()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap2'
                }"
              >
                <i class="fab fa-ethereum sm"></i> ETH
              </div>
              <div
                class="custom-taps__heading__taps__tap flex-xs-wrap flex-ms-wrap"
                style="box-sizing: border-box !important"
                (click)="minedChartTap3()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap3'
                }"
              >
                <i class="fab fa-btc sm"></i> RVN
              </div>
              <div
                class="custom-taps__heading__taps__tap flex-xs-wrap flex-ms-wrap"
                style="box-sizing: border-box !important"
                (click)="minedChartTap4()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap4'
                }"
              >
                <i class="fab fa-ethereum sm"></i> STX
              </div>
            </div>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap1'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap1Data"
              [options]="basicOptions"
            ></p-chart>
            <button type="button" (click)="update($event)"></button>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap2'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap2Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap3'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap3Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap4'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap4Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="banner">
        <div class="banner__img">
          <img src="../../../assets/bannerimg.svg" alt="bannerimg" />
        </div>
        <h4 class="banner__title">
          Boost Your Hashrate With Private Mining Devices
        </h4>
        <p class="banner__sub">Up to 10 TH/s</p>
        <button class="btn btn--animated btn--dark">
          <span>Learn more</span> <i class="fas fa-external-link-alt"></i>
        </button>
      </div>
      <!-- <div class="gains-chart mt-5">
      <div class="custom-taps">
          <div class="custom-taps__heading">
              <h4 class="custom-taps__heading__title mb-3">Daily Gains</h4>
              <div class="custom-taps__heading__taps d-flex justify-content-end">
                  <div class="custom-taps__heading__taps__tap" (click)="minedChartTap1()" [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  minedChartTapOpend == 'tap1'
              }">
                      <i class="fab fa-btc sm"></i> BTC
                  </div>
                  <div class="custom-taps__heading__taps__tap" (click)="minedChartTap2()" [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  minedChartTapOpend == 'tap2'
              }">
                      <i class="fab fa-ethereum sm"></i> ETH
                  </div>
                  <div class="custom-taps__heading__taps__tap" (click)="minedChartTap3()" [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  minedChartTapOpend == 'tap3'
              }">
                      <i class="fab fa-btc sm"></i> RVN
                  </div>
                  <div class="custom-taps__heading__taps__tap" (click)="minedChartTap4()" [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  minedChartTapOpend == 'tap4'
              }">
                      <i class="fab fa-ethereum sm"></i> STX
                  </div>
              </div>
          </div>
          <div class="custom-taps__body" *ngIf="minedChartTapOpend == 'tap1'">
              <p-chart height="300px" type="line" [data]="tap1Data" [options]="basicOptions"></p-chart>
          </div>
          <div class="custom-taps__body" *ngIf="minedChartTapOpend == 'tap2'">
              <p-chart type="line" [data]="tap2Data" [options]="basicOptions"></p-chart>
          </div>
          <div class="custom-taps__body" *ngIf="minedChartTapOpend == 'tap3'">
              <p-chart type="line" [data]="tap3Data" [options]="basicOptions"></p-chart>
          </div>
          <div class="custom-taps__body" *ngIf="minedChartTapOpend == 'tap4'">
              <p-chart type="line" [data]="tap4Data" [options]="basicOptions"></p-chart>
          </div>
      </div>
  </div> -->
    </div>
  </div>
</div>

<!-- old -->
<!-- <div class="dashboard-container">
  <div class="overview-header">
    <h2>Welcome back, Ahmed 👋</h2>
    <p>Here’s your progress</p>
  </div>
  <div class="balance-overview">
    <h4 class="balance-overview__title">Balance Overview</h4>
    <div class="row justify-content-center g-4 balance-overview__boxes">
      <div class="col-7 col-md-6 col-xl-3" *ngFor="let balance of balances">
        <div class="balance-overview__boxes__box">
          <div class="row">
            <div class="col-12 col-md-3">
              <i
                class="fab fa-btc lg"
                *ngIf="balance.currency == 'BTC' || balance.currency == 'RVN'"
              ></i>
              <i
                class="fab fa-ethereum lg"
                *ngIf="balance.currency == 'ETH' || balance.currency == 'STX'"
              ></i>
            </div>
            <div class="col-12 col-md-9">
              <span
                style="
                  font-weight: bold;
                  margin-bottom: 1px;
                  color: rgba(183, 180, 199, 1);
                "
              >
                {{ balance.currency }} Balance
              </span>
              <span style="font-weight: bold; color: #fff; display: block">
                {{ balance.currencyBalance }} {{ balance.currency }}
              </span>
            </div>
          </div>
          <p
            style="margin: 1rem 0rem"
            *ngIf="balance.plans == 0 && balance.devices == 0"
          >
            <br />
          </p>
          <p style="margin: 1rem 0rem">
            <span
              style="color: rgba(255, 73, 128, 1); font-weight: bold"
              *ngIf="balance.plans > 0"
            >
              {{ balance.plans }} active plans
            </span>
            <span
              style="color: #fff; vertical-align: bottom"
              *ngIf="balance.plans > 0 && balance.devices > 0"
            >
              •
            </span>
            <span
              style="color: rgba(255, 73, 128, 1); font-weight: bold"
              *ngIf="balance.devices > 0"
            >
              {{ balance.devices }} Device</span
            >
          </p>
          <span style="color: rgba(183, 180, 199, 1); display: block"
            >Current Price</span
          >
          <span
            style="
              font-weight: bold;
              color: #fff;
              display: block;
              margin-bottom: 0.8rem;
            "
            >$ {{ balance.price }}</span
          >
          <button
            class="btn btn--dark btn--animated w-100"
            *ngIf="balance.currencyBalance > 0"
          >
            Withdraw
          </button>
          <button
            class="btn btn--light btn--animated w-100 mt-2"
            *ngIf="!(balance.currencyBalance > 0)"
          >
            Buy Mining plan
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row g-4">
    <div class="mining-deatils col-12 col-lg-8">
      <div class="mining-deatils__mined mb-5">
        <div class="custom-taps">
          <div class="custom-taps__heading tex-center row align-items-center">
            <h4
              class="custom-taps__heading__title col-12 col-lg-5 text-sm-start mb-3"
            >
              Currency Mining Details
            </h4>
            <div
              class="custom-taps__heading__taps d-flex justify-content-end col-12 col-lg-7"
            >
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedTap1()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedTapOpend == 'tap1'
                }"
              >
                <i class="fab fa-btc sm"></i> BTC
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedTap2()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedTapOpend == 'tap2'
                }"
              >
                <i class="fab fa-ethereum sm"></i> ETH
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedTap3()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedTapOpend == 'tap3'
                }"
              >
                <i class="fab fa-btc sm"></i> RVN
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedTap4()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedTapOpend == 'tap4'
                }"
              >
                <i class="fab fa-ethereum sm"></i> STX
              </div>
            </div>
          </div>
          <div class="custom-taps__body" *ngIf="minedTapOpend == 'tap1'">
            <div class="row gy-4 summery">
              <div class="summery__item col-12 col-lg-4">
                <div class="summery__item__title">
                  <i class="fas fa-rocket"></i>
                  <span>Mining speed </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ BTC.miningSpeed }} H/s</span>
                  <i class="fas fa-plus"></i>
                </div>
              </div>
              <div class="summery__item col-12 col-lg-4">
                <div class="summery__item__title">
                  <i class="fas fa-hammer"></i>
                  <span>Today Mined </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ BTC.mined }} BTC</span>
                </div>
              </div>
              <div class="summery__item col-12 col-lg-4">
                <div class="summery__item__title">
                  <i class="fas fa-poo-storm"></i>
                  <span>Running plans </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ BTC.plans }} active plans</span>
                </div>
              </div>
            </div>
            <div class="balance">
              <div class="balance__total">
                <i class="fab fa-btc lg"></i>
                <span>{{ BTC.currencyBalance }} BTC</span>
              </div>
              <div class="balance__min">
                <span>Min Withdraw: {{ BTC.minWithdraw }} BTC</span>
              </div>
            </div>
            <button class="btn btn--animated btn--darker">
              <i class="fab fa-btc sm"></i> <span> Withdraw BTC </span>
            </button>
          </div>
          <div class="custom-taps__body" *ngIf="minedTapOpend == 'tap2'">
            <div class="row gy-4 summery">
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-rocket"></i>
                  <span>Mining speed </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ BTC.miningSpeed }} H/s</span>
                  <i class="fas fa-plus"></i>
                </div>
              </div>
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-hammer"></i>
                  <span>Today Mined </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ ETH.mined }} ETH</span>
                </div>
              </div>
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-poo-storm"></i>
                  <span>Running plans </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ ETH.plans }} active plans</span>
                </div>
              </div>
            </div>
            <div class="balance">
              <div class="balance__total">
                <i class="fab fa-ethereum lg"></i>
                <span>{{ ETH.currencyBalance }} ETH</span>
              </div>
              <div class="balance__min">
                <span>Min Withdraw: {{ ETH.minWithdraw }} ETH</span>
              </div>
            </div>
            <button class="btn btn--animated btn--darker">
              <i class="fab fa-ethereum sm"></i> <span> Withdraw ETH </span>
            </button>
          </div>
          <div class="custom-taps__body" *ngIf="minedTapOpend == 'tap3'">
            <div class="row gy-4 summery">
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-rocket"></i>
                  <span>Mining speed </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ RVN.miningSpeed }} H/s</span>
                  <i class="fas fa-plus"></i>
                </div>
              </div>
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-hammer"></i>
                  <span>Today Mined </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ RVN.mined }} RVN</span>
                </div>
              </div>
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-poo-storm"></i>
                  <span>Running plans </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ RVN.plans }} active plans</span>
                </div>
              </div>
            </div>
            <div class="balance">
              <div class="balance__total">
                <i class="fab fa-btc lg"></i>
                <span>{{ RVN.currencyBalance }} RVN</span>
              </div>
              <div class="balance__min">
                <span>Min Withdraw: {{ RVN.minWithdraw }} RVN</span>
              </div>
            </div>
            <button class="btn btn--animated btn--darker">
              <i class="fab fa-btc sm"></i> <span> Withdraw RVN </span>
            </button>
          </div>
          <div class="custom-taps__body" *ngIf="minedTapOpend == 'tap4'">
            <div class="row gy-4 summery">
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-rocket"></i>
                  <span>Mining speed </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ STX.miningSpeed }} H/s</span>
                  <i class="fas fa-plus"></i>
                </div>
              </div>
              <div class="summery__item col-12 col-md-4">
                <div class="summery__item__title">
                  <i class="fas fa-hammer"></i>
                  <span>Today Mined </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ STX.mined }} STX</span>
                </div>
              </div>
              <div class="summery__item col-12 col-lg-4">
                <div class="summery__item__title">
                  <i class="fas fa-poo-storm"></i>
                  <span>Running plans </span>
                </div>
                <div class="summery__item__value">
                  <span>{{ STX.plans }} active plans</span>
                </div>
              </div>
            </div>
            <div class="balance">
              <div class="balance__total">
                <i class="fab fa-ethereum lg"></i>
                <span>{{ STX.currencyBalance }} STX</span>
              </div>
              <div class="balance__min">
                <span>Min Withdraw: {{ STX.minWithdraw }} STX</span>
              </div>
            </div>
            <button class="btn btn--animated btn--darker">
              <i class="fab fa-ethereum sm"></i> <span> Withdraw STX </span>
            </button>
          </div>
        </div>
      </div>
      <div class="mining-details__chart">
        <div class="custom-taps custom-taps--chart">
          <div class="custom-taps__heading tex-center row align-items-center">
            <h4
              class="custom-taps__heading__title col-12 col-lg-5 text-sm-start mb-sm-3 mb-md-0"
            >
              Daily mined
            </h4>
            <div
              class="custom-taps__heading__taps d-flex justify-content-end col-12 col-lg-7"
            >
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedChartTap1()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap1'
                }"
              >
                <i class="fab fa-btc sm"></i> BTC
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedChartTap2()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap2'
                }"
              >
                <i class="fab fa-ethereum sm"></i> ETH
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedChartTap3()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap3'
                }"
              >
                <i class="fab fa-btc sm"></i> RVN
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedChartTap4()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap4'
                }"
              >
                <i class="fab fa-ethereum sm"></i> STX
              </div>
            </div>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap1'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap1Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap2'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap2Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap3'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap3Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
          <div
            class="custom-taps__body custom-taps__body--chart"
            *ngIf="minedChartTapOpend == 'tap4'"
          >
            <p-chart
              height="300px"
              type="line"
              [data]="tap4Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-4">
      <div class="banner">
        <div class="banner__img">
          <img src="../../../assets/bannerimg.svg" alt="bannerimg" />
        </div>
        <h4 class="banner__title">
          Boost Your Hashrate With Private Mining Devices
        </h4>
        <p class="banner__sub">Up to 10 TH/s</p>
        <button class="btn btn--animated btn--dark">
          <span>Learn more</span> <i class="fas fa-external-link-alt"></i>
        </button>
      </div>
      <div class="gains-chart mt-5">
        <div class="custom-taps">
          <div class="custom-taps__heading">
            <h4 class="custom-taps__heading__title mb-3">Daily Gains</h4>
            <div class="custom-taps__heading__taps d-flex justify-content-end">
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedChartTap1()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap1'
                }"
              >
                <i class="fab fa-btc sm"></i> BTC
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedChartTap2()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap2'
                }"
              >
                <i class="fab fa-ethereum sm"></i> ETH
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedChartTap3()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap3'
                }"
              >
                <i class="fab fa-btc sm"></i> RVN
              </div>
              <div
                class="custom-taps__heading__taps__tap"
                (click)="minedChartTap4()"
                [ngClass]="{
                  'custom-taps__heading__taps__tap--active':
                    minedChartTapOpend == 'tap4'
                }"
              >
                <i class="fab fa-ethereum sm"></i> STX
              </div>
            </div>
          </div>
          <div class="custom-taps__body" *ngIf="minedChartTapOpend == 'tap1'">
            <p-chart
              height="225px"
              type="line"
              [data]="tap1Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
          <div class="custom-taps__body" *ngIf="minedChartTapOpend == 'tap2'">
            <p-chart
              height="225px"
              type="line"
              [data]="tap2Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
          <div class="custom-taps__body" *ngIf="minedChartTapOpend == 'tap3'">
            <p-chart
              height="225px"
              type="line"
              [data]="tap3Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
          <div class="custom-taps__body" *ngIf="minedChartTapOpend == 'tap4'">
            <p-chart
              height="225px"
              type="line"
              [data]="tap4Data"
              [options]="basicOptions"
            ></p-chart>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
