<div class="dash-heading">
  <h2 class="dash-heading__title">
    <i class="fas fa-angle-left" [routerLink]="['../mining-devices']"></i>
    Choose mining devices
  </h2>
</div>
<div class="dashboard-container">
  <div class="choose-miner">
    <h2 class="choose-miner__title">Select desired device</h2>
    <div class="row row g-4 mt-4">
      <div class="col-12 col-md-6 col-xl-4" *ngFor="let miner of miners">
        <div class="miner align-self-center">
          <h3 class="miner__title">{{ miner.name }}</h3>
          <img
            src="../../../../assets/chooseminer.svg"
            alt="minerimg"
            class="miner__img"
          />
          <div class="miner__box">
            <h6 class="miner__box__title">Mining Currency</h6>
            <p class="miner__box__sub">{{ miner.crypto }}</p>
            <p class="miner__box__sub miner__box__sub--2">
              {{ miner.crypto2 }}
            </p>
          </div>
          <div class="miner__box">
            <h6 class="miner__box__title">Algorithm</h6>
            <p class="miner__box__sub">{{ miner.algorithm }}</p>
          </div>
          <div class="miner__box">
            <h6 class="miner__box__title">Power</h6>
            <p class="miner__box__sub">{{ miner.power }} GH/S</p>
          </div>
          <div class="miner__box">
            <h6 class="miner__box__title">Profitability</h6>
            <p class="miner__box__sub">From {{ miner.profitability }}%</p>
          </div>
          <div class="miner__box">
            <h6 class="miner__box__title">Unit price</h6>
            <p class="miner__box__sub">{{ miner.unitPrice }}$</p>
          </div>
          <div class="miner__box">
            <h6 class="miner__box__title">Price</h6>
            <p class="miner__box__sub--large">${{ miner.price }}/mth</p>
          </div>
          <button class="btn btn--animated btn--light miner__btn">
            Buy Device
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
