<header class="dash-heading">
  <h2 class="dash-heading__title">Mining devices</h2>
  <p class="dash-heading__para">Manage & subscribe hashrate power plans</p>
</header>
<div class="dashboard-container">
  <div class="row g-4" *ngIf="checkLength()">
    <div class="col-12 col-lg-4">
      <div class="miners-power">
        <h3 class="miners-power__title">Active Hashrate Power</h3>
        <div class="miners-power__item" *ngFor="let power of activeHash">
          <div class="miners-power__item__sub">
            <div class="miners-power__item__sub__icon">
              <i class="fab fa-btc md"></i>
            </div>
            <div class="miners-power__item__sub__text">
              <span>{{ power.crypto }}</span>
              <span class="miners-power__item__sub__text__active">{{
                power.plans
              }}</span>
            </div>
          </div>
          <span class="miners-power__item__sub__value"
            >{{ power.speed }} GH/S
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="custom-taps">
        <div class="custom-taps__heading tex-center row align-items-center">
          <h4
            class="custom-taps__heading__title col-12 col-lg-4 text-sm-start mb-sm-3 mb-md-0"
          >
            Miners gains
          </h4>
          <div
            class="custom-taps__heading__taps d-flex justify-content-end col-12 col-lg-8"
          >
            <div
              class="custom-taps__heading__taps__tap"
              (click)="minedChartTap1()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  minersChartOpend == 'tap1'
              }"
            >
              <i class="fab fa-btc sm"></i> BTC
            </div>
            <div
              class="custom-taps__heading__taps__tap"
              (click)="minedChartTap2()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  minersChartOpend == 'tap2'
              }"
            >
              <i class="fab fa-ethereum sm"></i> ETH
            </div>
            <div
              class="custom-taps__heading__taps__tap"
              (click)="minedChartTap3()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  minersChartOpend == 'tap3'
              }"
            >
              <i class="fab fa-btc sm"></i> RVN
            </div>
            <div
              class="custom-taps__heading__taps__tap"
              (click)="minedChartTap4()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  minersChartOpend == 'tap4'
              }"
            >
              <i class="fab fa-ethereum sm"></i> STX
            </div>
          </div>
        </div>
        <div
          class="custom-taps__body custom-taps__body--chart"
          *ngIf="minersChartOpend == 'tap1'"
        >
          <p-chart
            type="line"
            [data]="tap1Data"
            [options]="basicOptions"
            [responsive]="true"
          ></p-chart>
        </div>
        <div
          class="custom-taps__body custom-taps__body--chart"
          *ngIf="minersChartOpend == 'tap2'"
        >
          <p-chart
            type="line"
            [data]="tap2Data"
            [options]="basicOptions"
          ></p-chart>
        </div>
        <div
          class="custom-taps__body custom-taps__body--chart"
          *ngIf="minersChartOpend == 'tap3'"
        >
          <p-chart
            type="line"
            [data]="tap3Data"
            [options]="basicOptions"
          ></p-chart>
        </div>
        <div
          class="custom-taps__body custom-taps__body--chart"
          *ngIf="minersChartOpend == 'tap4'"
        >
          <p-chart
            type="line"
            [data]="tap4Data"
            [options]="basicOptions"
          ></p-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="miners-header">
      <h2 class="miners-header__title">Your Miners ({{ miners.length }})</h2>
      <button
        class="miners-header__btn btn btn--animated btn--light"
        [routerLink]="['../choose-miner']"
      >
        <i class="fas fa-plus"></i>New Miner
      </button>
    </div>
  </div>
  <div class="row g-5">
    <div class="col-12 col-lg-6 col-xl-4" *ngFor="let miner of miners">
      <ng-container *ngIf="checkLength()">
        <div class="miner">
          <h3 class="miner__title">{{ miner.name }}</h3>
          <div class="miner__sub">
            <i class="fab fa-btc md" style="margin-right: 8px"></i> Bitcoin —
            SHA-256
          </div>
          <img class="miner__img" src="../../../assets/miner.svg" alt="" />
          <div class="miner__details row g-3">
            <div class="col-6">
              <span class="miner__details__title">Contract Start</span>
              <span class="miner__details__sub">{{ miner.start }}</span>
            </div>
            <div class="col-6">
              <span class="miner__details__title">Contract End</span>
              <span class="miner__details__sub">{{ miner.end }}</span>
            </div>
            <div class="col-6">
              <span class="miner__details__title">Maintenance Price</span>
              <span class="miner__details__sub"
                >${{ miner.maintainancePrice }}</span
              >
            </div>
            <div class="col-6">
              <span class="miner__details__title">Profit</span>
              <span class="miner__details__sub">${{ miner.profit }}</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div
      class="col-12 col-lg-6 col-xl-4"
      [ngClass]="{ 'offset-4': !checkLength() }"
    >
      <div class="miner--add" [routerLink]="['../choose-miner']">
        <img class="miner--add__img" src="../../../assets/plus.svg" alt="" />
        <span class="miner--add__title">Add New Miner </span>
      </div>
    </div>
  </div>
</div>

<!-- <header class="dash-heading">
  <h2 class="dash-heading__title">Mining devices</h2>
  <p class="dash-heading__para">Manage & subscribe hashrate power plans</p>
</header>
<div class="dashboard-container">
  <div class="row g-4" *ngIf="checkLength()">
    <div class="col-12 col-lg-4">
      <div class="miners-power">
        <h3 class="miners-power__title">Active Hashrate Power</h3>
        <div class="miners-power__item" *ngFor="let power of activeHash">
          <div class="miners-power__item__sub">
            <div class="miners-power__item__sub__icon">
              <i class="fab fa-btc md"></i>
            </div>
            <div class="miners-power__item__sub__text">
              <span>{{ power.crypto }}</span>
              <span class="miners-power__item__sub__text__active">{{
                power.plans
              }}</span>
            </div>
          </div>
          <span class="miners-power__item__sub__value"
            >{{ power.speed }} GH/S
          </span>
        </div>
      </div>
    </div>
    <div class="col-12 col-lg-8">
      <div class="custom-taps">
        <div class="custom-taps__heading tex-center row align-items-center">
          <h4
            class="custom-taps__heading__title col-12 col-lg-4 text-sm-start mb-sm-3 mb-md-0"
          >
            Miners gains
          </h4>
          <div
            class="custom-taps__heading__taps d-flex justify-content-end col-12 col-lg-8"
          >
            <div
              class="custom-taps__heading__taps__tap"
              (click)="minedChartTap1()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  minersChartOpend == 'tap1'
              }"
            >
              <i class="fab fa-btc sm"></i> BTC
            </div>
            <div
              class="custom-taps__heading__taps__tap"
              (click)="minedChartTap2()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  minersChartOpend == 'tap2'
              }"
            >
              <i class="fab fa-ethereum sm"></i> ETH
            </div>
            <div
              class="custom-taps__heading__taps__tap"
              (click)="minedChartTap3()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  minersChartOpend == 'tap3'
              }"
            >
              <i class="fab fa-btc sm"></i> RVN
            </div>
            <div
              class="custom-taps__heading__taps__tap"
              (click)="minedChartTap4()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  minersChartOpend == 'tap4'
              }"
            >
              <i class="fab fa-ethereum sm"></i> STX
            </div>
          </div>
        </div>
        <div
          class="custom-taps__body custom-taps__body--chart"
          *ngIf="minersChartOpend == 'tap1'"
        >
          <p-chart
            height="300px"
            type="line"
            [data]="tap1Data"
            [options]="basicOptions"
            [responsive]="true"
          ></p-chart>
        </div>
        <div
          class="custom-taps__body custom-taps__body--chart"
          *ngIf="minersChartOpend == 'tap2'"
        >
          <p-chart
            height="300px"
            type="line"
            [data]="tap2Data"
            [options]="basicOptions"
          ></p-chart>
        </div>
        <div
          class="custom-taps__body custom-taps__body--chart"
          *ngIf="minersChartOpend == 'tap3'"
        >
          <p-chart
            height="300px"
            type="line"
            [data]="tap3Data"
            [options]="basicOptions"
          ></p-chart>
        </div>
        <div
          class="custom-taps__body custom-taps__body--chart"
          *ngIf="minersChartOpend == 'tap4'"
        >
          <p-chart
            height="300px"
            type="line"
            [data]="tap4Data"
            [options]="basicOptions"
          ></p-chart>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="miners-header">
      <h2 class="miners-header__title">Your Miners ({{ miners.length }})</h2>
      <button
        class="miners-header__btn btn btn--animated btn--light"
        [routerLink]="['../choose-miner']"
      >
        <i class="fas fa-plus"></i>New Miner
      </button>
    </div>
  </div>
  <div class="row g-5">
    <div class="col-12 col-lg-6 col-xl-4" *ngFor="let miner of miners">
      <ng-container *ngIf="checkLength()">
        <div class="miner">
          <h3 class="miner__title">{{ miner.name }}</h3>
          <div class="miner__sub">
            <i class="fab fa-btc md" style="margin-right: 8px"></i>
            Bitcoin — SHA-256
          </div>
          <img class="miner__img" src="../../../assets/miner.svg" alt="" />
          <div class="miner__details row g-3">
            <div class="col-6">
              <span class="miner__details__title">Contract Start</span>
              <span class="miner__details__sub">18 Jan 2022</span>
            </div>
            <div class="col-6">
              <span class="miner__details__title">Contract End</span>
              <span class="miner__details__sub">18 Jan 2023</span>
            </div>
            <div class="col-6">
              <span class="miner__details__title">Maintenance Price</span>
              <span class="miner__details__sub">$112.69 /month</span>
            </div>
            <div class="col-6">
              <span class="miner__details__title">Profit</span>
              <span class="miner__details__sub">$112.69/day</span>
            </div>
          </div>
        </div>
      </ng-container>
    </div>
    <div
      class="col-12 col-lg-6 col-xl-4"
      [ngClass]="{ 'offset-4': !checkLength() }"
    >
      <div class="miner--add" [routerLink]="['../choose-miner']">
        <img class="miner--add__img" src="../../../assets/plus.svg" alt="" />
        <span class="miner--add__title">Add New Miner </span>
      </div>

     
    </div>
  </div>
</div> -->
