<header class="dash-heading">
  <h2 class="dash-heading__title">
    <i class="fas fa-angle-left" [routerLink]="['../hashrate-plans']"></i>Choose
    hashrate plan
  </h2>
</header>
<div class="dashboard-container">
  <div class="contract">
    <div class="contract__period">
      <h3 class="contract__period__title">Select desired plan</h3>
      <p class="contract__period__sub">Contract period</p>
      <div class="contract__period__options">
        <button
          class="btn btn--disabled"
          (click)="short = true"
          [ngClass]="{ 'btn--darker--2': short }"
        >
          <span> Short Plans</span> <span class="offer"></span>
        </button>
        <button
          class="btn btn--disabled"
          (click)="short = false"
          [ngClass]="{ 'btn--darker--2': !short }"
        >
          <span>Long Plans</span> <span class="offer">30% off</span>
        </button>
      </div>
    </div>
    <div class="contract__currency">
      <h4 class="contract__currency__title">Choose Currency</h4>
      <div *ngIf="short" class="custom-taps custom-taps--trans">
        <div
          class="custom-taps__heading custom-taps__heading--trans row align-items-center justify-content-center"
        >
          <div
            class="custom-taps__heading__taps d-flex justify-content-center col-12 col-lg-8"
          >
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="shortPlansTap1()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active ':
                  shortPlansOpend == 'tap1'
              }"
            >
              <i class="fab fa-btc sm"></i> BTC
            </div>
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="shortPlansTap2()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  shortPlansOpend == 'tap2'
              }"
            >
              <i class="fab fa-ethereum sm"></i> ETH
            </div>
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="shortPlansTap3()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  shortPlansOpend == 'tap3'
              }"
            >
              <i class="fab fa-btc sm"></i> RVN
            </div>
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="shortPlansTap4()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  shortPlansOpend == 'tap4'
              }"
            >
              <i class="fab fa-ethereum sm"></i> STX
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="shortPlansOpend == 'tap1'">
          <div class="row g-4">
            <div
              class="col-12 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlans"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.type }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/Miners.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">{{ plan.crypto }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Power</h6>
                  <p class="plan__box__sub-value">{{ plan.power }} MH/S</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price Per 1 MH/S</h6>
                  <p class="plan__box__sub-value">$ 0.0120</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">{{ plan.profitability }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button class="btn btn--animated btn--light plan__btn">
                  Buy Plan
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="shortPlansOpend == 'tap2'">
          <div class="row g-4 justify-content-center">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlans"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.type }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/Miners.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">{{ plan.crypto }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Power</h6>
                  <p class="plan__box__sub-value">{{ plan.power }} MH/S</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price Per 1 MH/S</h6>
                  <p class="plan__box__sub-value">$ 0.0120</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">{{ plan.profitability }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button class="btn btn--animated btn--light plan__btn">
                  Buy Plan
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="shortPlansOpend == 'tap3'">
          <div class="row g-4 justify-content-center">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlans"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.type }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/Miners.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">{{ plan.crypto }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Power</h6>
                  <p class="plan__box__sub-value">{{ plan.power }} MH/S</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price Per 1 MH/S</h6>
                  <p class="plan__box__sub-value">$ 0.0120</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">{{ plan.profitability }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button class="btn btn--animated btn--light plan__btn">
                  Buy Plan
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="shortPlansOpend == 'tap4'">
          <div class="row g-4 justify-content-center">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlans"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.type }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/Miners.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">{{ plan.crypto }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Power</h6>
                  <p class="plan__box__sub-value">{{ plan.power }} MH/S</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price Per 1 MH/S</h6>
                  <p class="plan__box__sub-value">$ 0.0120</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">{{ plan.profitability }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button class="btn btn--animated btn--light plan__btn">
                  Buy Plan
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="custom-taps__body" *ngIf="shortPlansOpend == 'tap2'">
        <div class="row g-4 justify-content-center">
          <div
            class="col-7 col-md-6 col-xl-3"
            *ngFor="let plan of shortPlans"
          >
            <div class="plan">
              <h4 class="plan__title">{{ plan.type }}</h4>
              <img src="../../../../assets/Miners.svg" alt="Miners image" />
              <div class="plan__box">
                <h6 class="plan__box__sub">Mining Currency</h6>
                <p class="plan__box__sub-value">{{ plan.crypto}}</p>
              </div>
              <div class="plan__box">
                <h6 class="plan__box__sub">Power</h6>
                <p class="plan__box__sub-value">{{ plan.power}} M/S</p>
              </div>
              <div class="plan__box">
                <h6 class="plan__box__sub">Price Per 1 MH/S</h6>
                <p class="plan__box__sub-value">$ 0.0120</p>
              </div>
              <div class="plan__box">
                <h6 class="plan__box__sub">Profitability</h6>
                <p class="plan__box__sub-value">{{ plan.profitability}}</p>
              </div>
              <div class="plan__box">
                <h6 class="plan__box__sub">Price</h6>
                <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
              </div>
              <button class="btn btn--animated btn--light plan__btn">
                Buy Plan
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="custom-taps__body" *ngIf="shortPlansOpend == 'tap3'">
        <div class="row g-4 justify-content-center">
          <div
            class="col-7 col-md-6 col-xl-3"
            *ngFor="let plan of shortPlans"
          >
            <div class="plan">
              <h4 class="plan__title">{{ plan.type }}</h4>
              <img src="../../../../assets/Miners.svg" alt="Miners image" />
              <div class="plan__box">
                <h6 class="plan__box__sub">Mining Currency</h6>
                <p class="plan__box__sub-value">{{ plan.crypto}}</p>
              </div>
              <div class="plan__box">
                <h6 class="plan__box__sub">Power</h6>
                <p class="plan__box__sub-value">{{ plan.power}} M/S</p>
              </div>
              <div class="plan__box">
                <h6 class="plan__box__sub">Price Per 1 MH/S</h6>
                <p class="plan__box__sub-value">$ 0.0120</p>
              </div>
              <div class="plan__box">
                <h6 class="plan__box__sub">Profitability</h6>
                <p class="plan__box__sub-value">{{ plan.profitability}}</p>
              </div>
              <div class="plan__box">
                <h6 class="plan__box__sub">Price</h6>
                <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
              </div>
              <button class="btn btn--animated btn--light plan__btn">
                Buy Plan
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="custom-taps__body" *ngIf="shortPlansOpend == 'tap4'">
        <div class="row g-4 justify-content-center">
          <div
            class="col-7 col-md-6 col-xl-3"
            *ngFor="let plan of shortPlans"
          >
            <div class="plan">
              <h4 class="plan__title">{{ plan.type }}</h4>
              <img src="../../../../assets/Miners.svg" alt="Miners image" />
              <div class="plan__box">
                <h6 class="plan__box__sub">Mining Currency</h6>
                <p class="plan__box__sub-value">{{ plan.crypto}}</p>
              </div>
              <div class="plan__box">
                <h6 class="plan__box__sub">Power</h6>
                <p class="plan__box__sub-value">{{ plan.power}} M/S</p>
              </div>
              <div class="plan__box">
                <h6 class="plan__box__sub">Price Per 1 MH/S</h6>
                <p class="plan__box__sub-value">$ 0.0120</p>
              </div>
              <div class="plan__box">
                <h6 class="plan__box__sub">Profitability</h6>
                <p class="plan__box__sub-value">{{ plan.profitability}}</p>
              </div>
              <div class="plan__box">
                <h6 class="plan__box__sub">Price</h6>
                <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
              </div>
              <button class="btn btn--animated btn--light plan__btn">
                Buy Plan
              </button>
            </div>
          </div>
        </div>
      </div> -->
      </div>
      <!-- the long plans start here -->
      <div *ngIf="!short" class="custom-taps custom-taps--trans">
        <div
          class="custom-taps__heading custom-taps__heading--trans row align-items-center justify-content-center"
        >
          <div
            class="custom-taps__heading__taps d-flex justify-content-center col-12 col-lg-8"
          >
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="longPlansTap1()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active ':
                  longPlansOpend == 'tap1'
              }"
            >
              <i class="fab fa-btc sm"></i> BTC
            </div>
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="longPlansTap2()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  longPlansOpend == 'tap2'
              }"
            >
              <i class="fab fa-ethereum sm"></i> ETH
            </div>
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="longPlansTap3()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  longPlansOpend == 'tap3'
              }"
            >
              <i class="fab fa-btc sm"></i> RVN
            </div>
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="longPlansTap4()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  longPlansOpend == 'tap4'
              }"
            >
              <i class="fab fa-ethereum sm"></i> STX
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="longPlansOpend == 'tap1'">
          <div class="row g-4 justify-content-center">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlans"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.type }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/Miners.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">{{ plan.crypto }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Power</h6>
                  <p class="plan__box__sub-value">{{ plan.power }} MH/S</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price Per 1 MH/S</h6>
                  <p class="plan__box__sub-value">$ 0.0120</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">{{ plan.profitability }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button class="btn btn--animated btn--light plan__btn">
                  Buy Plan
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="longPlansOpend == 'tap2'">
          <div class="row g-4 justify-content-center">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlans"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.type }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/Miners.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">{{ plan.crypto }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Power</h6>
                  <p class="plan__box__sub-value">{{ plan.power }} MH/S</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price Per 1 MH/S</h6>
                  <p class="plan__box__sub-value">$ 0.0120</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">{{ plan.profitability }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button class="btn btn--animated btn--light plan__btn">
                  Buy Plan
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="longPlansOpend == 'tap3'">
          <div class="row g-4 justify-content-center">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlans"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.type }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/Miners.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">{{ plan.crypto }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Power</h6>
                  <p class="plan__box__sub-value">{{ plan.power }} MH/S</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price Per 1 MH/S</h6>
                  <p class="plan__box__sub-value">$ 0.0120</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">{{ plan.profitability }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button class="btn btn--animated btn--light plan__btn">
                  Buy Plan
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="longPlansOpend == 'tap4'">
          <div class="row g-4 justify-content-center">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlans"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.type }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/Miners.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">{{ plan.crypto }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Power</h6>
                  <p class="plan__box__sub-value">{{ plan.power }} MH/S</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price Per 1 MH/S</h6>
                  <p class="plan__box__sub-value">$ 0.0120</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">{{ plan.profitability }}</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button class="btn btn--animated btn--light plan__btn">
                  Buy Plan
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <app-tabs>
      <div class="plans" BTC>
        <div class="plan" *ngFor="let plan of shortPlans">
          <h4>{{ plan.type }}</h4>
          <img src="../../../../assets/Miners.svg" alt="Miners image" />
          <div>
            <h6 class="plan__sub">Mining Currency</h6>
            <p class="plan__sub-value">{{ plan.crypto}}</p>
          </div>
          <div>
            <h6>Power</h6>
            <p>{{ plan.power}} M/S</p>
          </div>
          <div>
            <h6>Price Per 1 MH/S</h6>
            <p>$ 0.0120</p>
          </div>
          <div>
            <h6>Profitability</h6>
            <p>{{ plan.profitability}}</p>
          </div>
          <div>
            <h6>Price</h6>
            <p class="price">{{ plan.price }}$</p>
          </div>
          <button class="btn btn--light plan__btn">Buy Plan</button>
        </div>
      </div>
      <div class="plans" ETH>
        <div class="plan" *ngFor="let plan of shortPlans">
          <h4>{{ plan.type }}</h4>
          <img src="../../../../assets/Miners.svg" alt="Miners image" />
          <div>
            <h6>Mining Currency</h6>
            <p>{{ plan.crypto}}</p>
          </div>
          <div>
            <h6>Power</h6>
            <p>{{ plan.power}} M/S</p>
          </div>
          <div>
            <h6>Price Per 1 MH/S</h6>
            <p>$ 0.0120</p>
          </div>
          <div>
            <h6>Profitability</h6>
            <p>{{ plan.profitability}}</p>
          </div>
          <div>
            <h6>Price</h6>
            <p class="price">{{ plan.price }}$</p>
          </div>
          <button class="buy">Buy Plan</button>
        </div>
      </div>
      <div class="plans" RVN>
        <div class="plan" *ngFor="let plan of shortPlans">
          <h4>{{ plan.type }}</h4>
          <img src="../../../../assets/Miners.svg" alt="Miners image" />
          <div>
            <h6>Mining Currency</h6>
            <p>{{ plan.crypto}}</p>
          </div>
          <div>
            <h6>Power</h6>
            <p>{{ plan.power}} M/S</p>
          </div>
          <div>
            <h6>Price Per 1 MH/S</h6>
            <p>$ 0.0120</p>
          </div>
          <div>
            <h6>Profitability</h6>
            <p>{{ plan.profitability}}</p>
          </div>
          <div>
            <h6>Price</h6>
            <p class="price">{{ plan.price }}$</p>
          </div>
          <button class="buy">Buy Plan</button>
        </div>
      </div>
      <div class="plans" STX>
        <div class="plan" *ngFor="let plan of shortPlans">
          <h4>{{ plan.type }}</h4>
          <img src="../../../../assets/Miners.svg" alt="Miners image" />
          <div>
            <h6>Mining Currency</h6>
            <p>{{ plan.crypto}}</p>
          </div>
          <div>
            <h6>Power</h6>
            <p>{{ plan.power}} M/S</p>
          </div>
          <div>
            <h6>Price Per 1 MH/S</h6>
            <p>$ 0.0120</p>
          </div>
          <div>
            <h6>Profitability</h6>
            <p>{{ plan.profitability}}</p>
          </div>
          <div>
            <h6>Price</h6>
            <p class="price">{{ plan.price }}$</p>
          </div>
          <button class="buy">Buy Plan</button>
        </div>
      </div>
    </app-tabs> -->
      <!-- <app-tabs>
      <div class="plans" BTC>
        <div class="plan" *ngFor="let plan of longPlans">
          <h4>{{ plan.type }}</h4>
          <img src="../../../../assets/Miners.svg" alt="Miners image" />
          <div>
            <h6>Mining Currency</h6>
            <p>{{ plan.crypto}}</p>
          </div>
          <div>
            <h6>Power</h6>
            <p>{{ plan.power}} M/S</p>
          </div>
          <div>
            <h6>Price Per 1 MH/S</h6>
            <p>$ 0.0120</p>
          </div>
          <div>
            <h6>Profitability</h6>
            <p>{{ plan.profitability}}</p>
          </div>
          <div>
            <h6>Price</h6>
            <p class="price">{{ plan.price }}$</p>
          </div>
          <button class="buy">Buy Plan</button>
        </div>
      </div>
      <div class="plans" ETH>
        <div class="plan" *ngFor="let plan of longPlans">
          <h4>{{ plan.type }}</h4>
          <img src="../../../../assets/Miners.svg" alt="Miners image" />
          <div>
            <h6>Mining Currency</h6>
            <p>{{ plan.crypto}}</p>
          </div>
          <div>
            <h6>Power</h6>
            <p>{{ plan.power}} M/S</p>
          </div>
          <div>
            <h6>Price Per 1 MH/S</h6>
            <p>$ 0.0120</p>
          </div>
          <div>
            <h6>Profitability</h6>
            <p>{{ plan.profitability}}</p>
          </div>
          <div>
            <h6>Price</h6>
            <p class="price">{{ plan.price }}$</p>
          </div>
          <button class="buy">Buy Plan</button>
        </div>
      </div>
      <div class="plans" RVN>
        <div class="plan" *ngFor="let plan of longPlans">
          <h4>{{ plan.type }}</h4>
          <img src="../../../../assets/Miners.svg" alt="Miners image" />
          <div>
            <h6>Mining Currency</h6>
            <p>{{ plan.crypto}}</p>
          </div>
          <div>
            <h6>Power</h6>
            <p>{{ plan.power}} M/S</p>
          </div>
          <div>
            <h6>Price Per 1 MH/S</h6>
            <p>$ 0.0120</p>
          </div>
          <div>
            <h6>Profitability</h6>
            <p>{{ plan.profitability}}</p>
          </div>
          <div>
            <h6>Price</h6>
            <p class="price">{{ plan.price }}$</p>
          </div>
          <button class="buy">Buy Plan</button>
        </div>
      </div>
      <div class="plans" STX>
        <div class="plan" *ngFor="let plan of longPlans">
          <h4>{{ plan.type }}</h4>
          <img src="../../../../assets/Miners.svg" alt="Miners image" />
          <div>
            <h6>Mining Currency</h6>
            <p>{{ plan.crypto}}</p>
          </div>
          <div>
            <h6>Power</h6>
            <p>{{ plan.power}} M/S</p>
          </div>
          <div>
            <h6>Price Per 1 MH/S</h6>
            <p>$ 0.0120</p>
          </div>
          <div>
            <h6>Profitability</h6>
            <p>{{ plan.profitability}}</p>
          </div>
          <div>
            <h6>Price</h6>
            <p class="price">{{ plan.price }}$</p>
          </div>
          <button class="buy">Buy Plan</button>
        </div>
      </div>
    </app-tabs> -->
    </div>
  </div>
</div>

<!-- old -->

<!-- <header class="dash-heading">
  <h2 class="dash-heading__title">
    <i class="fas fa-angle-left" [routerLink]="['../hashrate-plans']"></i>Choose
    hashrate plan
  </h2>
</header>
<div class="dashboard-container">
  <div class="contract">
    <div class="contract__period">
      <h3 class="contract__period__title">Select desired plan</h3>
      <p class="contract__period__sub">Contract period</p>
      <div class="contract__period__options">
        <button
          class="btn btn--disabled"
          (click)="short = true"
          [ngClass]="{ 'btn--darker--2': short }"
        >
          <span> Short Plans</span> <span class="offer"></span>
        </button>
        <button
          class="btn btn--disabled"
          (click)="short = false"
          [ngClass]="{ 'btn--darker--2': !short }"
        >
          <span>Long Plans</span> <span class="offer">30% off</span>
        </button>
      </div>
    </div>
    <div class="contract__currency">
      <h4 class="contract__currency__title">Choose Currency</h4>
      <div *ngIf="short" class="custom-taps custom-taps--trans">
        <div
          class="custom-taps__heading custom-taps__heading--trans row align-items-center justify-content-center"
        >
          <div
            class="custom-taps__heading__taps d-flex justify-content-center col-12 col-lg-8"
          >
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="shortPlansTap1()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active ':
                  shortPlansOpend == 'tap1'
              }"
            >
              <i class="fab fa-btc sm"></i> BTC
            </div>
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="shortPlansTap2()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  shortPlansOpend == 'tap2'
              }"
            >
              <i class="fab fa-ethereum sm"></i> ETH
            </div>
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="shortPlansTap3()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  shortPlansOpend == 'tap3'
              }"
            >
              <i class="fab fa-btc sm"></i> RVN
            </div>
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="shortPlansTap4()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  shortPlansOpend == 'tap4'
              }"
            >
              <i class="fab fa-ethereum sm"></i> STX
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="shortPlansOpend == 'tap1'">
          <div class="row g-4">
            <div
              class="col-12 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlans"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.type }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/Miners.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">BTC (Bitcoin)</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Power</h6>
                  <p class="plan__box__sub-value">23 580 GH/S</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price Per 1 GH/S</h6>
                  <p class="plan__box__sub-value">$ 0.0120</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">From 143%</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button class="btn btn--animated btn--light plan__btn">
                  Buy Plan
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="shortPlansOpend == 'tap2'">
          <div class="row g-4 justify-content-center">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlans"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.type }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/Miners.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">BTC (Bitcoin)</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Power</h6>
                  <p class="plan__box__sub-value">23 580 GH/S</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price Per 1 GH/S</h6>
                  <p class="plan__box__sub-value">$ 0.0120</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">From 143%</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button class="btn btn--animated btn--light plan__btn">
                  Buy Plan
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="shortPlansOpend == 'tap3'">
          <div class="row g-4 justify-content-center">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlans"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.type }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/Miners.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">BTC (Bitcoin)</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Power</h6>
                  <p class="plan__box__sub-value">23 580 GH/S</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price Per 1 GH/S</h6>
                  <p class="plan__box__sub-value">$ 0.0120</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">From 143%</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button class="btn btn--animated btn--light plan__btn">
                  Buy Plan
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="shortPlansOpend == 'tap4'">
          <div class="row g-4 justify-content-center">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlans"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.type }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/Miners.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">BTC (Bitcoin)</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Power</h6>
                  <p class="plan__box__sub-value">23 580 GH/S</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price Per 1 GH/S</h6>
                  <p class="plan__box__sub-value">$ 0.0120</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">From 143%</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button class="btn btn--animated btn--light plan__btn">
                  Buy Plan
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!short" class="custom-taps custom-taps--trans">
        <div
          class="custom-taps__heading custom-taps__heading--trans row align-items-center justify-content-center"
        >
          <div
            class="custom-taps__heading__taps d-flex justify-content-center col-12 col-lg-8"
          >
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="longPlansTap1()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active ':
                  longPlansOpend == 'tap1'
              }"
            >
              <i class="fab fa-btc sm"></i> BTC
            </div>
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="longPlansTap2()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  longPlansOpend == 'tap2'
              }"
            >
              <i class="fab fa-ethereum sm"></i> ETH
            </div>
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="longPlansTap3()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  longPlansOpend == 'tap3'
              }"
            >
              <i class="fab fa-btc sm"></i> RVN
            </div>
            <div
              class="custom-taps__heading__taps__tap custom-taps__heading__taps__tap--basic"
              (click)="longPlansTap4()"
              [ngClass]="{
                'custom-taps__heading__taps__tap--active':
                  longPlansOpend == 'tap4'
              }"
            >
              <i class="fab fa-ethereum sm"></i> STX
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="longPlansOpend == 'tap1'">
          <div class="row g-4 justify-content-center">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlans"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.type }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/Miners.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">BTC (Bitcoin)</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Power</h6>
                  <p class="plan__box__sub-value">23 580 GH/S</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price Per 1 GH/S</h6>
                  <p class="plan__box__sub-value">$ 0.0120</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">From 143%</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button class="btn btn--animated btn--light plan__btn">
                  Buy Plan
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="longPlansOpend == 'tap2'">
          <div class="row g-4 justify-content-center">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlans"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.type }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/Miners.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">BTC (Bitcoin)</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Power</h6>
                  <p class="plan__box__sub-value">23 580 GH/S</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price Per 1 GH/S</h6>
                  <p class="plan__box__sub-value">$ 0.0120</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">From 143%</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button class="btn btn--animated btn--light plan__btn">
                  Buy Plan
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="longPlansOpend == 'tap3'">
          <div class="row g-4 justify-content-center">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlans"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.type }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/Miners.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">BTC (Bitcoin)</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Power</h6>
                  <p class="plan__box__sub-value">23 580 GH/S</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price Per 1 GH/S</h6>
                  <p class="plan__box__sub-value">$ 0.0120</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">From 143%</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button class="btn btn--animated btn--light plan__btn">
                  Buy Plan
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="custom-taps__body" *ngIf="longPlansOpend == 'tap4'">
          <div class="row g-4 justify-content-center">
            <div
              class="col-7 col-md-6 col-xl-3"
              *ngFor="let plan of shortPlans"
            >
              <div class="plan">
                <h4 class="plan__title">{{ plan.type }}</h4>
                <img
                  class="plan__img"
                  src="../../../../assets/Miners.svg"
                  alt="Miners image"
                />
                <div class="plan__box">
                  <h6 class="plan__box__sub">Mining Currency</h6>
                  <p class="plan__box__sub-value">BTC (Bitcoin)</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Power</h6>
                  <p class="plan__box__sub-value">23 580 GH/S</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price Per 1 GH/S</h6>
                  <p class="plan__box__sub-value">$ 0.0120</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Profitability</h6>
                  <p class="plan__box__sub-value">From 143%</p>
                </div>
                <div class="plan__box">
                  <h6 class="plan__box__sub">Price</h6>
                  <p class="plan__box__sub-value--large">{{ plan.price }}$</p>
                </div>
                <button class="btn btn--animated btn--light plan__btn">
                  Buy Plan
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> -->
